* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: gray;
}

.header {
  padding: 15px;
  text-align: center;
  background-color: white;
}
.nav {
  float: left;
  text-align: center;
  padding: 15px;
  background-color: pink;
  height: 500px;
}

.main {
  height: 500px;
  display: flex;
}

.left {
  float: left;
  background-color: blue;
  height: 100%;
  flex-basis: 50%;
}
.right {
  float: right;
  background-color: green;
  height: 100%;
  flex-basis: 50%;
}

.footer {
  padding: 10px;
  background-color: yellow;
  text-align: center;
}